@import "../colors";
.tabs {
  li {
    display: inline;
    flex: 0.5;
  }
  &__list {
    list-style-type: none;
    display: flex;
    margin-bottom: 0;
  }
  &__tab {
    width: 100%;
    padding: 0.5rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    -webkit-appearance: none;
    background-color: $eye;

    position: relative;
    z-index: 100;
    margin-bottom: -1px;
    &.open,
    &.open:hover,
    &.open:focus {
      border-bottom: 0;
      outline: 0;
      font-weight: bold;
    }
  }
  &__tab-pane {
    display: none;
    max-width: 100%;
    overflow-x: scroll;
    &.open {
      display: block;
    }
  }
}
