.header
    h1.font-retro &lt;
        span.colorize DOM
        | ponent/>
    div build UI components with the HTML you already have
    div.header__links
        a.btn.btn--large.btn--primary(href="https://github.com/tamb/domponent/blob/master/README.md" target="_blank") Get going!
        a.btn.btn--large.btn--secondary(href="https://github.com/tamb/domponent" target="_blank") 
            i(data-feather="github") 
            | Github &#x1F31F; 