# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Legacy
/node_modules
.cache
/examples/.cache
/**/node_modules
/examples/**/dist
*tgz
/dist