@import "../_colors";

@keyframes shake {
  1% {
    transform: rotate(20deg) scale(1.1);
  }

  2% {
    transform: rotate(-20deg) scale(1.2);
  }

  3% {
    transform: rotate(10deg) scale(1);
  }

  5% {
    transform: rotate(-5deg) scale(0.95);
  }
  7% {
    transform: rotate(0deg) scale(1);
  }
}
.fold {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  &.show {
    max-height: 99em;
    transition: max-height 0.5s ease-in-out;
  }
}

.code-toggle-btn {
  animation: shake 15s ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  position: absolute;
  top: 0;
  right: 0;
  background: $dark;
  svg {
    color: $light-stripes;
    animation: jingle 5s infinite;
  }
}

.language-html {
  .el {
    color: #2f6f9f;
  }
  .attr {
    color: #4f9fcf;

    &-val {
      color: #d44950;
    }
  }
}
