extends layout

block content
  h1= title
  p Welcome to #{title}


  #root
    -for(var i = 0; i < 500; i++)
      include counter.pug
    

  
  script(type="text/javascript" src="main.js" defer)
  script(type="text/javascript").
    console.log('Thomas')
  script