doctype html
html
  head
    title= title
    style.
      #root {
        display: flex;
        flex-wrap: wrap;
      }
      [data-component]{
        display: flex;
        flex-direction: column;
        border: 1px solid;
      }
  body
    block content
