doctype html
html(lang="en")
  head
    <!-- Required meta tags -->
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href='https://fonts.googleapis.com/css?family=Nanum+Gothic|Source+Code+Pro|Syncopate&display=swap' rel='stylesheet')


    title Domponent
  
  body.font-normal
    include ./includes/nav/nav.pug
    .container
      include ./includes/header/header.pug
      include ./includes/tags/tags.pug
    include ./includes/markup/markup.html
    include ./includes/charts/charts.pug
    .footnote sandbox, and more coming soon..