doctype html
html(lang="en")
  head
    <!-- Required meta tags -->
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href='https://fonts.googleapis.com/css?family=Nanum+Gothic|Source+Code+Pro|VT323&display=swap' rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Syncopate&display=swap" rel="stylesheet")


    title Domponent
  
  body.font-normal
    .container
    block content
