extends ../../layout

block content
    h2 Pug and Knockout
    #root
        -for (var i = 0; i < 10; i++) {
        div(data-bind="style: {height: '20px', border: '1px solid', width: width + 'px'}")
          
          p(data-bind="text: count")
         
        - }