.tags.section
    section.tags__tag
        a(href="#components").tags__headline declarative UI
        span.tags__words Use with any template language
        div.images
            a(href="https://pugjs.org/api/getting-started.html" alt="pug" rel="noopener noreferrer" target="_blank")
                img(src='icons/pug.png')
            a(href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html" alt="thymeleaf" rel="noopener noreferrer" target="_blank")
                img(src='icons/thymeleaf.png')
            a(href="https://handlebars-draft.knappi.org/" alt="handlebars" rel="noopener noreferrer" target="_blank")
                img(src='icons/handlebars.svg')
            a(href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-start?view=aspnetcore-3.0&tabs=visual-studio" alt="razor" rel="noopener noreferrer" target="_blank")
                img(src='icons/blazor.png')
    section.tags__tag
        a(href="#SEO").tags__headline SEO friendly
        span.tags__words
        | progressively enhances the HTML you already have. No need to go all isomorphic
    section.tags__tag
        a(href="#fast").tags__headline vanilla fast
        span.tags__words Blazing fast performance at ~2kb
            a(href='#') See our benchmarks
    section.tags__tag
        a(href="#reactive").tags__headline familiar API
        span.tags__words
        | based off of Reacts API and comes with a bevy of hooks to create streamed and async components
