.tags {
  display: flex;
  margin-top: 1rem;

  &__tag {
    padding: 0.75rem;
    flex: 1;
    margin: 0 1rem;
  }

  &__headline {
    font-size: 1.2rem;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    position: relative;
    &:hover::after,
    &:focus::after {
      content: "#";
      position: absolute;
      left: -0.65rem;
      top: 0;
      font-size: 1rem;
    }
  }

  &__words {
    display: flex;
    flex-direction: column;
  }

  .images {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & > a {
      flex: 1;
    }
    img {
      width: 50%;
    }
  }
}
