section.tags
  h2.tags__headline declarative components for your template language
  span.tags__words ...icons
section.tags
  h2.tags__headline
    | lightweight and vanilla fast
  span.tags__words
    | Blazing fast performance at ~2kb.
    a(href='#') See our benchmarks
section.tags
  h2.tags__headline SEO friend and progressively enhanced by default
  span.tags__words
    | enhances the HTML you already have. No need for to go all isomorphic.
section.tags
  h2.tags__headline familiar API and async ready
  span.tags__words
    | based off of Reacts API and comes with a bevy of hooks to create streamed components.
