.tags
    section.tags__tag
        a(href="#components").tags__headline declarative UI
        span.tags__words Use with any template language ...icons
    section.tags__tag
        a(href="#SEO").tags__headline SEO friendly
        span.tags__words
        | progressively enhances the HTML you already have. No need to go all isomorphic.
    section.tags__tag
        a(href="#fast").tags__headline vanilla fast
        span.tags__words Blazing fast performance at ~2kb.
            a(href='#') See our benchmarks
    section.tags__tag
        a(href="#reactive").tags__headline familiar API
        span.tags__words
        | based off of Reacts API and comes with a bevy of hooks to create streamed and async components
