@import "../../colors.scss";
.counter-preview {
  background-color: $dark;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  .counter {
    background-color: $eye;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    @media screen and (min-width: 768px) {
      width: 25%;
    }
    &__btns {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    p {
      font-size: 2rem;
    }
  }
  code,
  pre {
    background-color: $dark;
    font-size: 0.7rem;
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 75%;
      font-size: 1.2rem;
    }
  }
  .language {
    padding: 0 0.5rem;
    overflow: scroll;
    color: $light-stripes;
    .el {
      color: #d44950;
    }
    .attr {
      color: #4f9fcf;

      &-val {
        color: $belly;
      }
    }
  }
}
