.section
    .chart-container#speed
        .chart
            p 100 Components
            .graph
                .bar(data-count="5520" data-full="10000") 
                    span.library-title React
                .bar.bg-colorize(data-count="7733​" data-full="10000") 
                    span.library-title Domponent
                .bar(data-count="6527" data-full="10000") 
                    span.library-title Knockout
                .bar(data-count="5634" data-full="10000") 
                    span.library-title Vue
        .chart
            p 1000 Components
            .graph
                .bar(data-count="157" data-full="1000") 
                    span.library-title React
                .bar.bg-colorize(data-count="671" data-full="1000") 
                    span.library-title Domponent
                .bar(data-count="507" data-full="1000") 
                    span.library-title Knockout
                .bar(data-count="479" data-full="1000") 
                    span.library-title Vue