.section.chart-section#benchmarks
    h2 insane performance
    ul
        li each component contains 3 nodes.
        li the styles are rerendered according to the components state.  
        li each update happens at 1ms intervals for 60 seconds.
        li these charts show their average successful rerenders.
        li 
            a(href="/benchmarks/benchmarks.html") you can run these yourself! 
        
    .chart-container
        .chart
            p 100 Components
            .graph
                .bar(data-count="5520" data-full="10000" tabindex=0) 
                    span.library-title React
                .bar.bg-colorize(data-count="7733​" data-full="10000" tabindex=0) 
                    span.library-title Domponent
                .bar(data-count="6527" data-full="10000" tabindex=0) 
                    span.library-title Knockout
                .bar(data-count="5634" data-full="10000" tabindex=0) 
                    span.library-title Vue
            
        .chart
            p 1000 Components
            .graph
                .bar(data-count="157" data-full="1000" tabindex=0) 
                    span.library-title React
                .bar.bg-colorize(data-count="671" data-full="1000" tabindex=0) 
                    span.library-title Domponent
                .bar(data-count="507" data-full="1000" tabindex=0) 
                    span.library-title Knockout
                .bar(data-count="479" data-full="1000" tabindex=0) 
                    span.library-title Vue
            
            