.section
    .chart-container#speed
        .chart
            p 100 Components
            .graph
                .bar.react(data-count="5264" data-full="10000") React
                .bar.domponent(data-count="7535​" data-full="10000") Domponent
                //- .bar.preact(data-count="7704" data-full="10000")
                //- .bar.inferno(data-count="10297" data-full="10000")
        .chart
            p 1000 Components
            .graph
                .bar.react(data-count="141" data-full="1000") React
                .bar.domponent(data-count="667" data-full="1000") Domponent
                //- .bar.preact(data-count="689" data-full="1000")
                //- .bar.inferno(data-count="1262" data-full="1000")