.section.chart-section#benchmarks
    h2 insane performance
    ul
        li each component contains 3 nodes.
        li the styles are rerendered according to the components state.  
        li each update happens at 1ms intervals for 60 seconds.
        li these charts show their average successful rerenders.
        li 
            a(href="/benchmarks/benchmarks.html") you can run these yourself! 
        
    .chart-container
        .chart
            p 100 Components
            .graph
                p.y-axis ops/min
                .bar(data-count="5520" data-full="10000" tabindex=0) 
                    div.library-title    
                        div React
                        div
                            small v16.11.0
                .bar.bg-colorize(data-count="7733​" data-full="10000" tabindex=0) 
                    div.library-title    
                        div Domponent
                        div
                            small v1.2.2
                .bar(data-count="6527" data-full="10000" tabindex=0) 
                    div.library-title
                        div Knockout
                        div
                            small v3.5.0
                .bar(data-count="5634" data-full="10000" tabindex=0) 
                    div.library-title
                        div Vue
                        div
                            small v2.6.10
                
        .chart
            p 1000 Components
            .graph
                p.y-axis ops/min
                .bar(data-count="157" data-full="1000" tabindex=0) 
                    div.library-title    
                        div React
                        div
                            small v16.11.0
                .bar.bg-colorize(data-count="671" data-full="1000" tabindex=0) 
                    div.library-title    
                        div Domponent
                        div
                            small v1.2.2
                .bar(data-count="507" data-full="1000" tabindex=0) 
                    div.library-title
                        div Knockout
                        div
                            small v3.5.0
                .bar(data-count="479" data-full="1000" tabindex=0) 
                    div.library-title
                        div Vue
                        div
                            small v2.6.10
            
            