.chart-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.chart {
  display: flex;
  flex-direction: column;
}

.graph {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  background: white;
  position: relative;
  border-top: 0;
  border-right: 0;
}

.bar {
  border: 1px solid black;
  border-bottom: 0;
  height: 10px;
  position: absolute;
  bottom: 0;
  // width: 20%;
  width: 41%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 0.8em;
}

.react {
  // left: 4%;
  left: 6%;
  background-color: lightgray;
}

.domponent {
  // left: 28%;
  left: 53%;
  background-color: #61dafb;
}

.preact {
  left: 52%;
}

.inferno {
  left: 76%;
}
