.section
    .chart-container#speed
        .chart
            p 100 Components
            .graph
                .bar.react(data-count="5264") 
                .bar.domponent(data-count="7535​") 
                .bar.preact(data-count="7704")
                .bar.inferno(data-count="10297")
        .chart
            p 1000 Components
            .graph
                .bar.react(data-count="5264") 
                .bar.domponent(data-count="7535​") 
                .bar.preact(data-count="7704")
                .bar.inferno(data-count="10297")