@import "../../colors.scss";

.btn {
  padding: 0.5em;
  min-width: 3rem;
  border-radius: 3px;
  border: 2px solid $body;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  &:hover,
  &:focus {
    background-color: $light-stripes;
    border: 2px solid $dark;
  }
  &--large {
    padding: 1.5em;
  }
  &--primary {
    background-color: $body;
    color: $light-stripes;
    &:hover,
    &:focus {
      background-color: $belly;
      color: $dark;
    }
  }

  &--secondary {
    background-color: $beak;
    color: $light-stripes;
    border-color: $beak;
    &:hover,
    &:focus {
      background-color: $light-stripes;
      color: $beak;
    }
  }
}
