@import "../../colors.scss";

.navi {
  display: flex;
  padding: 1rem 1.5rem;
  align-items: center;
  .home {
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  ol,
  ul {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    li {
      margin: 0 1rem;
      a {
        color: $body;
      }
    }
  }
}
