@import "_colors.scss";

body {
  background-color: $body;
  color: $dark;

  &.highlight [data-component] {
    border: 2px dotted gold;
    border-radius: 3px;
  }
}

.dark {
  color: $dark;
}

.btn {
  margin-bottom: 0.5rem;
}

.card {
  background-color: $beak;
  color: $eye;
  margin-bottom: 1rem;
  position: relative;
}

.show-code {
  background-color: $light-stripes;

  svg {
    color: $beak;
  }
}

header {
  margin: 1rem 0;
}
h1 {
  font-size: 1.8rem;
}

code {
  background-color: $light-stripes;
  display: block;
  margin-bottom: 0.5rem;
  overflow: scroll;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: fixed;
  z-index: 9999;
  bottom: 0.5rem;
  right: 0.5rem;
  .github-link {
    height: 3rem;
    width: 3rem;
    margin-top: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-stripes;
    border-radius: 50%;
    box-shadow: -2px 3px 5px black;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
    position: relative;
    bottom: unset;
    right: unset;
    .github-link {
      background-color: transparent;
      border-radius: 0;
      box-shadow: none;
      margin-top: 0;
      display: block;
      margin: 0 0.5rem;
      width: auto;
      color: $dark;
      &.docs-link {
        bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }
}
