.section.section-seo.section--shadow#SEO
    h2 enchance your HTML
    .trifecta
        .trifecta__item.top
            i(data-feather="globe")
            p rely on any of the 
                i speedy 
                | & 
                strong stable 
                | template languages already used to power the world wide web
        .trifecta__item.left
            i(data-feather="search")
            p prerendered HTML means your SEO-friendly by default.  skip the isomorphic part.
        .trifecta__item.right
            i(data-feather="key")
            p keep your templating logic on the server where it's secure