@import "../../colors.scss";
.section-seo {
  background-color: $body;
}
.trifecta {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  svg {
    height: 4rem;
    width: 4rem;
  }

  &__item {
    display: flex;
    padding: 1rem 0;
    justify-content: space-around;
    align-items: center;
    @media screen and (min-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &.top {
      @media screen and (min-width: 768px) {
        width: 100%;
        padding: 1rem 5rem;
      }
    }
    @media screen and (min-width: 768px) {
      &.left {
        width: 50%;
      }
    }

    @media screen and (min-width: 768px) {
      &.right {
        width: 50%;
      }
    }

    p {
      max-width: 50%;
      @media screen and (min-width: 768px) {
        text-align: center;
      }
    }
  }
}
