extends ../../layout

block content
    h2 Benchmarks
    #root
      a(href="benchmarks/domponent.html") domponent
      a(href="benchmarks/react.html") react
      a(href="benchmarks/preact.html") preact
      a(href="benchmarks/inferno.html") inferno