nav.navi
  a.dark-text.font-retro.home(href="/domponent") &lt;
    span.colorize D
  ol
    li
      a(href='https://github.com/tamb/domponent#domponent-')
        | docs
    li
      a(href='#')
        | sandbox
    li
      a(href='https://github.com/tamb/domponent')
        | github
