.section
    h2 easy API

    div.api(data-component="HoverBuddy")
        div
            p React
            ul
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="willMount") componentWillMount
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="willMount") componentDidMount
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="willMount") componentWillUpdate
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="willMount") componentDidUpdate
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="willMount") componentWillUnmount
        div
            p Domponent
            ul
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="willMount") connecting
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="willMount") connected
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="willMount") stateWillUpdate
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="willMount") stateDidUpdate
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="willMount") propsWillUpdate
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="willMount") propsDidUpdate
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="willMount") disconnecting