.section
    h2 easy API

    div.api
        div
            p React
            ul
                li componentWillMount
                li componentDidMount
                li componentWillUpdate
                li componentWillUpdate
                li componentWillUnmount
        div
            p Domponent
            ul
                li connecting
                li connected
                li stateWillUpdate
                li stateDidUpdate
                li propsWillUpdate
                li propsDidUpdate
                li disconnecting