.section#api
    h2 easy API

    div.api(data-component="HoverBuddy")
        div
            p React
            ul
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="HoverBuddy.willMount") componentWillMount
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="HoverBuddy.didMount") componentDidMount
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="HoverBuddy.willUpdate") componentWillUpdate
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="HoverBuddy.didUpdate") componentDidUpdate
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="HoverBuddy.willUnount") componentWillUnmount
        div
            p Domponent
            ul
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="HoverBuddy.willMount") connecting
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="HoverBuddy.didMount") connected
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="HoverBuddy.willUpdate") stateWillUpdate
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="HoverBuddy.didUPdate") stateDidUpdate
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="HoverBuddy.willUpdate") propsWillUpdate
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="HoverBuddy.didUpdate") propsDidUpdate
                li(tabindex="0" data-action="mouseover->HoverBuddy.highlight|mouseout->HoverBuddy.removeHighlight|focus->HoverBuddy.highlight|blur->HoverBuddy.removeHighlight" data-ref-array="HoverBuddy.willUnmount") disconnecting