@import "_colors.scss";

body {
  background-color: $body;
  color: $dark;
}

.dark {
  color: $dark;
}

.btn {
  margin-bottom: 0.5rem;
}

.card {
  background-color: $beak;
  color: $eye;
  margin-bottom: 1rem;
  position: relative;
}

.show-code {
  background-color: $light-stripes;

  svg {
    color: $beak;
  }
}

header {
  margin: 1rem 0;
}
h1 {
  font-size: 1.8rem;
}

code {
  background-color: $light-stripes;
  padding: 0.5rem;
  display: block;
  margin-bottom: 0.5rem;
  overflow: scroll;
}

.github-link {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-stripes;
  border-radius: 50%;
  box-shadow: -2px 3px 5px black;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }
}
